
* {
margin: 0;
padding: 0;
}

html, body {
  height: 100vh;
}
.main-title {
  padding-bottom: 20px;
}

.main-sidebar {
  position: fixed;
  background-color: lightgray;
  width: 25vw;
  height: 100%;
  padding: 20px;
}
