<div class="rooms-container">
  <div class="room-listing" ng-repeat="room in home.rooms track by $index" ng-click="home.displayRoom(room)">
    <a  class="room-name">{{room.$value}}</a>
    </div>
</div>

<div class="main-chat-view">
  <div class="message-container" ng-repeat="messages in home.messages track by $index">
    <div class="message-user"><b>User:</b> {{messages.username}}</div>
    <div class="message-date"><b>Date:</b> {{messages.sentAt}}</div>
    <div class="message-content">{{messages.content}}</div>
  </div>
</div>
<div class="chat-send" ng-show="home.activeRoom">
  <input type="text"  placeholder="Write your message here!" class="room-message-input" ng-model="home.latestMessage">
  <button class="btn btn-send" type="button" ng-click="home.addMessage()">Send</button>
</div>
